<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FisioGame</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="info-section">
            <h1>FISIO GAME</h1>
            <!--<p>Pursue real career paths through instructor-led courses taught by experts and free, online courses backed by Cisco's expertise.</p>
            <img src="logo.png" alt="Cisco Networking Academy Logo">-->
        </div>
        <div class="login-section">
            <a href="#" class="back-button"></a>
            <h2>Bem vindo!</h2>
            <p>Insira seus dados de login para continuar.</p>
            <form>
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
                <label for="senha">Senha</label>
                <input type="senha" id="senha" name="senha">
                <div class="lembrar">
                    <input type="checkbox" id="remember">
                    <label for="remember">Lembrar de mim</label>
                </div>
                <a href="#" class="forgot-password">Esqueceu a senha?</a>
                <button type="submit">Entrar</button>
            </form>
            <p>Ou continuar com</p>
            <button class="google-login">Google</button>
            <p>Não possui conta? <a href="#">Cadastrar</a></p>
        </div>
    </div>
</body>
</html>
