body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #35656f; /* Azul esverdeado */
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2b4d55; /* Tom mais escuro */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.user-icons i {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 80%;
    gap: 50px;
}

.login-section, .register-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    color: #35656f;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #35656f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2b4d55;
}
